# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
sdist/
var/
wheels/
*.egg
.env
.venv/
env/
venv/
